@using BlazorUIComponents.Container;
@using BlazorUIComponents.Img;
@using BlazorUIComponents.nav;
@page "/"

<NavBarResponsive SamePageNav="true" Class="navbar-header" Links="@Links">
    <LinkTemplate>
        <NavLink @onclick:preventDefault class="@context.Class" href="@context.Href"><span>@context.Title</span></NavLink>
    </LinkTemplate>
    <ToggleContent>
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </ToggleContent>
</NavBarResponsive>


<!---->
<!-- Header -->
<div class="section" id="header">
    <div class="s-content header">
        <BlazorUIComponents.Img.LazyLoad PlaceHolderSrc="@(_imgHost + "header-img-laptop-coffee-compressed.jpg" + _suffix)" LazyLoadSrc="@(_imgHost + "header-img-laptop-coffee.jpg" + _suffix)">
            <h1 style="margin-bottom: 1em">{ Beau Smyth }</h1>
            <h4>#dev #programmer #livetocode</h4>
        </BlazorUIComponents.Img.LazyLoad>
    </div>
</div>
<!-- About Me -->
<div class="section" id="about-me">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">About Me</h2>
        <h5 class="section-subheading">
            <span>Passionate</span>
            <span class="separator">.</span>
            <span>Curious</span>
            <span class="separator">.</span>
            <span>Determined</span>

        </h5>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img" PlaceHolderSrc="@GetFullImgPath("me-img-compress.jpg")" LazyLoadSrc="@GetFullImgPath("me-img.jpg")" />
            </div>
            <div>
                <p>Software Developer, specializing in Web Development.</p>

                <p>Enjoys sharing intelligent conversations with like-minded people.</p>

                <p>A goal-driven, self-motivated learner with a keen eye for detail.</p>

                <p>A love for all things programming. Very interested in Web and VR development and wish to look into Data Science in the future.</p>

                <p>Hobbies include running, calesthenics, yoga and VR gaming.</p>
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Skills -->
<div class="section" id="skills">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">Skills</h2>
        <h5 class="section-subheading">
            <span>Web</span>
            <span class="separator">.</span>
            <span>Design</span>
            <span class="separator">.</span>
            <span>Development</span>

        </h5>
        <div class="col-30-70">
            <div>
                PHP
            </div>
            <div>
                <SkillBar SkillPercent="45" />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                CSS
            </div>
            <div>
                <SkillBar SkillPercent="60" />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                HTML
            </div>
            <div>
                <SkillBar SkillPercent="30" />
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Experience -->
<div class="section" id="experience">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">Experience</h2>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img" PlaceHolderSrc="@GetFullImgPath("aa-logo-compress.jpg")" LazyLoadSrc="@GetFullImgPath("aa-logo.jpg")" />
            </div>
            <div>
                <h3>Almost Anything Web & Graphic Design</h3>
                <h5 style="margin-bottom: 1em; color: gray">Website & Web Application Developer (2017-2018)</h5>
                <ul style="list-style: square; margin-left: 2em">
                    <li>Developed and designed WordPress templates and custom plugins</li>
                    <li>Worked with WordPress and LAMP stack as well as CakePHP and jQuery</li>
                </ul>
                <p style="margin-top: 1em">During my time at Almost Anything I developed a deep understanding of PHP, CSS and HTML. I learnt about what GitLab is and how to use it for version control.</p>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img bordered" PlaceHolderSrc="@GetFullImgPath("cc-logo-compress.jpg")" LazyLoadSrc="@GetFullImgPath("cc-logo.png")" />
            </div>
            <div>
                <h3>CentacareCQ</h3>
                <h5 style="margin-bottom: 1em; color: gray">Intern Web Developer (2020)</h5>
                <ul style="list-style: square; margin-left: 2em">
                    <li>Responsible for developing data-reporting Application</li>
                </ul>
                <p style="margin-top: 1em">During my time at CentacareCQ I learnt about C#, .NET Core and Blazor. I used Blazer Server-Side to develop an on-premise-hosted application for employees to produce data-reports form a range of different organisation data sources.</p>
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Education -->
<div class="section" id="education">
    <div class="s-content">
        <h2 class="section-heading">Education</h2>

    </div>
</div>
<!-- References -->
<div class="section" id="references">
    <div class="s-content">
        <h2 class="section-heading">References</h2>

    </div>
</div>
<!-- Contact -->
<div class="section" id="contact">
    <div class="s-content">
        <h2 class="section-heading">Contact</h2>

    </div>
</div>


@code{
    string _imgHost = @"https://github.com/beausmyth1990/ImagesForTesting/blob/master/";
    string _suffix = @"?raw=true";
    IReadOnlyList<NavLinkModel> Links;

    protected override void OnInitialized()
    {
        Links = new List<NavLinkModel> {
            new NavLinkModel("nav-link header", "#header", ""),
            new NavLinkModel("nav-link", "#about-me", "About Me"),
            new NavLinkModel("nav-link", "#skills", "Skills"),
            new NavLinkModel("nav-link", "#experience", "Experience"),
            new NavLinkModel("nav-link", "#education", "Education"),
            new NavLinkModel("nav-link", "#references", "References"),
            new NavLinkModel("nav-link", "#contact", "Contact"),
        };
    }

    string GetFullImgPath(string imgTitle)
    {
        return $"{_imgHost}{imgTitle}{_suffix}";
    }
}