@using BlazorUIComponents.Container;
@using BlazorUIComponents.Img;
@using BlazorUIComponents.nav;
@page "/"

<NavBarResponsive SamePageNav="true" Class="navbar-header" Links="@Links">
    <LinkTemplate>
        <NavLink @onclick:preventDefault class="@context.Class" href="@context.Href"><span>@context.Title</span></NavLink>
    </LinkTemplate>
    <ToggleContent>
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </ToggleContent>
</NavBarResponsive>


<!---->
<!-- Header -->
<div class="section" id="header">
    <div class="s-content header">
        <BlazorUIComponents.Img.LazyLoad PlaceHolderSrc="@GetFullImgPath("header-img-compress.jpg")" LazyLoadSrc="@GetFullImgPath("header-img.jpg")">
            <h1 style="margin-bottom: 1em">Beau Smyth</h1>
            <h4>#dev #programmer #livetocode</h4>
        </BlazorUIComponents.Img.LazyLoad>
    </div>
</div>
<!-- About Me -->
<div class="section" id="about-me">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">About Me</h2>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img" PlaceHolderSrc="@GetFullImgPath("me-compress.jpg")" LazyLoadSrc="@GetFullImgPath("me.jpg")" />
            </div>
            <div>
                <span class="pill">Passionate</span>
                <span class="pill">Curious</span>
                <span class="pill">Determined</span>
                <span class="pill">Ambitious</span>
                <p>Software Developer, specializing in Web Development.</p>

                <p>Goal-driven and self-motivated learner with a keen eye for detail.</p>

                <p>Love for all things programming. Very interested in Web and VR development and wish to look into Data Science in the future.</p>

                <p>Hobbies include running, calesthenics, yoga and VR gaming.</p>
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Skills -->
<div class="section" id="skills">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">Skills</h2>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("coding-icon.png")" LazyLoadSrc="@GetFullImgPath("coding-icon.png")" />
            </div>
            <div>
                <h3 class="section-subheading">Languages</h3>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>PHP/HTML/CSS</h4>
            </div>
            <div>
                <SkillBar SkillPercent="85"
                          Description="As a web developer I was responsible for developing custom WordPress plugins, templates and application back-ends for our clients." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>SQL</h4>
            </div>
            <div>
                <SkillBar SkillPercent="70"
                          Description="Well versed, mostly in a MySQL context, as this was the DBMS used by my employer. I would develop schemas and complex queries for WordPress plugins and web applications." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>C#</h4>
            </div>
            <div>
                <SkillBar SkillPercent="65"
                          Description="Learnt during university for an internship, in which I was required to develop a data reporting application for the host organisation using Blazor server-side. If I had to choose a favourite language so far C# would be it." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>Java</h4>
            </div>
            <div>
                <SkillBar SkillPercent="70"
                          Description="Learnt during university for use in my programming courses. Java is CQUniversity’s language of choice for teaching undergrad students how to program." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>JavaScript</h4>
            </div>
            <div>
                <SkillBar SkillPercent="65"
                          Description="Mostly self-taught. I used a lot of jQuery as a web developer for AJAX operations such as front-end form validation and long polling." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("framework-icon.png")" LazyLoadSrc="@GetFullImgPath("framework-icon.png")" />
            </div>
            <div>
                <h3 class="section-subheading">Frameworks</h3>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>NodeJS</h4>
            </div>
            <div>
                <SkillBar SkillPercent="45"
                          Description="Self-taught. I have read a couple of textbooks on how to use it and dabbled in Node development for a few months. I enjoyed it immensely but was forced to stop so I could begin learning C# for my internship." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>Blazor</h4>
            </div>
            <div>
                <SkillBar SkillPercent="60"
                          Description="Self-taught. I learnt this shiny, new SPA framework from Microsoft for my final semester at Uni. It was required for a 10-week paid internship with a local organisation where I was tasked with developing an on-premise-hosted data reporting application." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>CakePHP</h4>
            </div>
            <div>
                <SkillBar SkillPercent="60"
                          Description="As a web developer I would often need to update and maintain legacy applications, a large one of which was built on CakePHP. I learnt how CakePHP works and how to use it by reading legacy code and their official documentation." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>Wordpress</h4>
            </div>
            <div>
                <SkillBar SkillPercent="70"
                          Description="Most projects were centred around WordPress during my time as a web developer. It might not be the best framework for every use-case but it is a fantastic tool, one that I would be happy to work with again. I built many custom plugins and templates for our clients, all of which are still in commercial use today." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>Bootstrap</h4>
            </div>
            <div>
                <SkillBar SkillPercent="80"
                          Description="Mostly self-taught. I have used this framework mostly for university and personal projects. It's very simple to use and is effective for rapid prototyping and development." />
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("tools-icon.png")" LazyLoadSrc="@GetFullImgPath("tools-icon.png")" />
            </div>
            <div>
                <h3 class="section-subheading">Tools</h3>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <h4>GitHub</h4>
            </div>
            <div>
                <SkillBar SkillPercent="60"
                          Description="I was required to learn Git during my time as a web developer as all our project source code was stored in GitHub. This, by far, has been the most useful tool I have learnt for software development. I would recommend to any developer to learn this as early in his/her career as possible." />
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Experience -->
<div class="section" id="experience">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">Experience</h2>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img" PlaceHolderSrc="@GetFullImgPath("aa-logo-compress.jpg")" LazyLoadSrc="@GetFullImgPath("aa-logo.jpg")" />
            </div>
            <div>
                <h3>Almost Anything Web & Graphic Design</h3>
                <h5 style="margin-bottom: 1em; color: gray">Website & Web Application Developer (2017-2018)</h5>
                <ul style="list-style: square; margin-left: 2em">
                    <li>Developed and designed WordPress templates and custom plugins</li>
                    <li>Worked closely with clients and our Creative Director to produce well-polished, effective, web-based business solutions.</li>
                    <li>Worked on all projects from conception until completion and was, for a time, the stand-in lead developer</li>
                    <li>Maintained and upgraded legacy applications and websites.</li>
                    <li>Proactive in learning new skills and technologies (to iron out any knowledge gaps) suitable for the project at hand.</li>
                    <li>Worked efficiently and autonomously and always sought-out clarification when in doubt</li>
                </ul>
                <p style="margin-top: 1em">
                    I was offered a position at Almost Anything as a full-time entry-level developer. I had to defer university for this time so I could direct all my focus and energy into learning the technologies and tools I would eventually be expected to use.
                    After a time, I became the stand-in lead developer and took on additional responsibilities pertaining to project management and stakeholder engagement. This position helped to improve my client communication, critical thinking, time management, self-guided learning, professionalism, and problem-solving skills.
                    I was, and continue to be, very grateful for the opportunity to work with Almost Anything. I grew as a developer to the point where I would now consider myself a junior level developer.
                </p>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img bordered" PlaceHolderSrc="@GetFullImgPath("cc-logo-compress.jpg")" LazyLoadSrc="@GetFullImgPath("cc-logo.png")" />
            </div>
            <div>
                <h3>CentacareCQ</h3>
                <h5 style="margin-bottom: 1em; color: gray">Intern Web Developer (2020)</h5>
                <ul style="list-style: square; margin-left: 2em">
                    <li>Responsible for developing data-reporting application</li>
                    <li>Reported to the Manager of IT with regular project updates</li>
                    <li>Worked closely with organisation employees to illicit functional and non-functional requirements and user feedback during testing.</li>
                </ul>
                <p style="margin-top: 1em">During my time at CentacareCQ I learnt about C#, .NET Core and Blazor. I used Blazer server-side to develop an on-premise-hosted application for employees to produce data-reports form a range of different organisation data sources.</p>
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Education -->
<div class="section" id="education">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">Education</h2>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img" PlaceHolderSrc="@GetFullImgPath("cqu-logo-compress.jpg")" LazyLoadSrc="@GetFullImgPath("cqu-logo.jpeg")" />
            </div>
            <div>
                <h3>Bachelor of Information Technology - Application Development Major</h3>
                <h5 style="margin-bottom: 1em; color: gray">Earned Nov 2020</h5>
                <p style="margin-top: 1em">
                    Transferred over from Electrical Engineering in second year after falling in love with programming.
                    I knew that I had found my calling in I.T.
                </p>
                <a target="_blank" href="@GetFullImgPath("transcript_Sep2020.pdf")">Transcript</a>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <BlazorUIComponents.Img.LazyLoad Class="lazy-img-container md-img bordered" PlaceHolderSrc="@GetFullImgPath("cqu-logo-compress.jpg")" LazyLoadSrc="@GetFullImgPath("cqu-logo.jpeg")" />
            </div>
            <div>
                <h3>STEPS (Skills for Tertiary Education Preparatory Studies) Certificate of Graduation</h3>
                <h5 style="margin-bottom: 1em; color: gray">Earned Nov 2014</h5>
                <p style="margin-top: 1em">Being a mature-age student meant that I was required to undertake a bridging course to brush-up on prerequisite knowledge for Engineering. The STEPS course offered by CQUnivserity was my gateway into teriary education. I enjoyed every second of it. Made many good friends along the way and exceeded my own expectations of what I could achieve if I put my mind to it.</p>
                <a target="_blank" href="@GetFullImgPath("transcript_Sep2020.pdf")">Transcript</a>
            </div>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>
<!-- Contact -->
<div class="section" id="contact">
    <BlazorUIComponents.Container.LazyLoad Class="s-content" ClassInView="in-view">
        <h2 class="section-heading">Contact</h2>
        <div class="col-30-70">
            <div>
                <a href="tel:043 172 6991"><BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("phone.png")" LazyLoadSrc="@GetFullImgPath("phone.png")" /></a>
            </div>
            <div class="contact-detail">
                <a href="tel:043 172 6991"><h5>043 172 6991</h5></a>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <a href="mailto:beau.smyth@outlook.com"><BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("email.png")" LazyLoadSrc="@GetFullImgPath("email.png")" /></a>
            </div>
            <div class="contact-detail">
                <a href="mailto:beau.smyth@outlook.com"><h5>beau.smyth@outlook.com</h5></a>
            </div>
        </div>
        <div class="col-30-70">
            <div>
                <a target="_blank" href="https://www.google.com/maps/place/Brisbane+QLD"><BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("pin.png")" LazyLoadSrc="@GetFullImgPath("pin.png")" /></a>
            </div>
            <div class="contact-detail">
                <a target="_blank" href="https://www.google.com/maps/place/Brisbane+QLD"><h5>Brisbane, QLD, AU</h5></a>
            </div>
        </div>
        <div class="social-media-links">
            <a target="_blank" href="https://github.com/beausmyth1990"><BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("github.png")" LazyLoadSrc="@GetFullImgPath("github.png")" /></a>
            <a target="_blank" href="https://www.linkedin.com/in/beau-smyth-131607134/"><BlazorUIComponents.Img.LazyLoad Class="lazy-img-container sm-img" PlaceHolderSrc="@GetFullImgPath("linkedin.png")" LazyLoadSrc="@GetFullImgPath("linkedin.png")" /></a>
        </div>
    </BlazorUIComponents.Container.LazyLoad>
</div>

@code{
    string _imgHost = @"https://github.com/beausmyth1990/ImagesForTesting/blob/master/";
    string _suffix = @"?raw=true";
    IReadOnlyList<NavLinkModel> Links;

    protected override void OnInitialized()
    {
        Links = new List<NavLinkModel> {
            new NavLinkModel("nav-link header", "#header", ""),
            new NavLinkModel("nav-link", "#about-me", "About Me"),
            new NavLinkModel("nav-link", "#skills", "Skills"),
            new NavLinkModel("nav-link", "#experience", "Experience"),
            new NavLinkModel("nav-link", "#education", "Education"),
            new NavLinkModel("nav-link", "#contact", "Contact"),
        };
    }

    string GetFullImgPath(string imgTitle)
    {
        return $"{_imgHost}{imgTitle}{_suffix}";
    }
}